@import "tailwindcss";

:root{
    --color-light:#fafcfcc9;
}

@theme {
    --font-nunito:"Roboto", serif;
    --font-lora:"Lora", serif; 
    --color-yellow: #faca10;
    --color-black: #1E1E1E;
    --color-white: #FFFFFF;
    --color-grey: #F2F2F2;
    --color-text-black:#1e1e1e;
    --color-light:#fafcfc0d;
    
    
  }



  .container{
    max-width: 1177px;
    margin: 0 auto;
}


@layer base{
    *{
        @apply m-0 p-0 box-border;
    }

    ul,li,ol{
        @apply list-none
    }

    img{
        @apply align-middle
    }
    
    a{
       @apply inline-block no-underline;
    }
}



@layer components{
    .bannerBackground{
        position:relative;
        z-index:1;
    }

    .bannerBackground::after{
        position:absolute;
        content:"";
        width:100%;
        height:100%;
        background-color:rgba(250, 252, 252, 0.644);
        top:0;
        left:0;
        z-index:-1;

    }

}

@layer components{
    .menu{
        position:relative;
    }


    .menu::after{
        position: absolute;
        content: "";
        left:0;
        bottom:0;
        width: 0;
        height: 4px;
        background-color:#faca10;
        transition:all linear .5s;
    }


    .menu:hover::after{
       width: 100%;
    }

}


@layer components{
    .btn{
        position:relative;
    }

    .btn::after{
        position:absolute;
        content:"";
        width: 100%;
        height: 100%;
        background-color:rgba(30, 30, 30, 0.783);
        top: 0px;
        left:100%;
        border-radius:10px;
        transition:all linear .3s;
        
        visibility: hidden;


    }


    .btn:hover::after{
        visibility: visible;
        left:0;
        
    }

}


@layer components{
   

    .textUnderline{
        position:relative;

    }

    .textUnderline::before{

        position:absolute;
        content:"";
        bottom:0%;
        width:100%;
        height:7%;
        background-color:#faca10;
        transition:all linear .3s;
        
        

    }

    .textUnderline:hover::before{
        width:0%;
       
    }
}
/* ============= choose ============== */
@layer component{
    .Design{
        position: relative;
    }

    .Design::after{
        position:absolute;
        content:"";
        width:50px;
        height:5px;
        background-color:white;
        left:-26%;
        top:48%;


    }

    .Design::before{
        position:absolute;
        content:"";
        width: 20px;
        height: 20px;
        background-color:white;
        left:-60px;
        top:35%;
        border-radius:50%;
    }

    .Design:hover::after{
        background-color: #faca10;
    }

    .Design:hover::before{
        background-color:#faca10;
    }
}

/* ========== arrow icon research =========== */
@layer component{

    .nextArrow{
        font-size:25px;
        color:black;
        width: 30px;
        height:27px;
        font-weight: 600;
        background-color:#fdefb7;
        border-bottom-right-radius: 50%;
        border-top-right-radius: 50%;
        top: 12%;
        left:6.8%;
        position:absolute;
        cursor: pointer;
        border:1px solid white;

    }
    .nextArrow:hover{
        background-color: #FACA10;
    }

    .prevArrow{
        font-size: 25px;
        color:black;
        font-weight: 600;
        width: 30px;
        height:27px;
        background-color:#fdefb7;
        border-bottom-left-radius: 50%;
        border-top-left-radius: 50%;
        top:12%;
        position:absolute;
        left:1%;
        cursor: pointer;
        z-index:1;
        border: 1px solid white;
        
    }

    .prevArrow:hover{
        background-color:#FACA10;
    }

   
    .bottomCircle{
        position:absolute;
        width:200px;
        height:200px;
        background-color:#fdefb7;
        border-radius:50%;
        left:-20%;
        bottom:-20%;
      
    }

}



