@import "tailwindcss";

:root{
    --color-light:rgba(250, 252, 252, 0.788);
}

@theme {
    --font-nunito:"Roboto", serif;
    --font-lora:"Lora", serif; 
    --color-yellow: #faca10;
    --color-black: #1E1E1E;
    --color-white: #FFFFFF;
    --color-grey: #F2F2F2;
    --color-text-black:#1e1e1e;
    --color-light:#fafcfc0d;
    
    
  }



  .container{
    max-width: 1177px;
    margin: 0 auto;
}


@layer base{
    *{
        @apply m-0 p-0 box-border;
    }

    ul,li,ol{
        @apply list-none
    }

    img{
        @apply align-middle
    }
    
    a{
       @apply inline-block no-underline;
    }
}



@layer components{
    .bannerBackground{
        position:relative;
        z-index:1;
    }

    .bannerBackground::after{
        position:absolute;
        content:"";
        width:100%;
        height:100%;
        background-color:rgba(250, 252, 252, 0.644);
        top:0;
        left:0;
        z-index:-1;

    }

}

@layer components{
    .menu{
        position:relative;
    }


    .menu::after{
        position: absolute;
        content: "";
        left:0;
        bottom:0;
        width: 0;
        height: 4px;
        background-color:#faca10;
        transition:all linear .5s;
    }


    .menu:hover::after{
       width: 100%;
    }

}


@layer components{
    .btn{
        position:relative;
    }

    .btn::after{
        position:absolute;
        content:"";
        width: 100%;
        height: 100%;
        background-color:#1E1E1E;
        top: 0px;
        left:100%;
        border-radius:10px;
        transition:all linear .3s;
        
        visibility: hidden;


    }


    .btn:hover::after{
        visibility: visible;
        left:0;
        
    }

}


@layer componentes{
   

    .textUnderline{
        position:relative;

    }

    .textUnderline::before{

        position:absolute;
        content:"";
        bottom:0%;
        width:100%;
        height:7%;
        background-color:#faca10;
        transition:all linear .3s;
        
        

    }

    .textUnderline:hover::before{
        width:0%;
       
    }
}



