@import "tailwindcss";

:root{
    --color-light:#fafcfc0d;
}

@theme {
    --font-nunito:"Roboto", serif;
    --font-lora:"Lora", serif; 
    --color-yellow: #faca10;
    --color-black: #1E1E1E;
    --color-white: #FFFFFF;
    --color-grey: #FBFBFB;
    --color-text-black:#1e1e1e;
    --color-light:#fafcfc0d;
    
    
  }



  .container{
    max-width: 1177px;
    margin: 0 auto;
}


@layer base{
    *{
        @apply m-0 p-0 box-border;
    }

    ul,li,ol{
        @apply list-none
    }

    img{
        @apply align-middle
    }
    
    a{
       @apply inline-block no-underline;
    }
}


@layer components{
    .menu{
        position:relative;
    }


    .menu::after{
        position: absolute;
        content: "";
        left:0;
        bottom:0;
        width: 0;
        height: 4px;
        background-color:#faca10;
        transition:all linear .3s;
    }


    .menu:hover::after{
       width: 100%;
    }

}